$background-regular: #fff;
$text-regular: #000;

$background-dark: #222;
$text-dark: #fff;

body {
  background-color: $background-regular;
  color: $text-regular;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $background-dark;
    color: $text-dark;

    div.header {
      background: linear-gradient(0deg, rgb(2, 10, 60) 0%, rgb(0, 0, 0) 100%);
    }
    article {
      h1 {
        a {
          color: $text-dark !important;
        }
      }
    }
  }
}

.header {
  background: linear-gradient(0deg, rgb(20, 100, 255) 0%, rgb(0, 0, 66) 100%);

  color: white;

  padding: 0.5em;

  h1 {
    text-align: center;
  }

  a {
    color: inherit !important;
    text-decoration: inherit;
    img  {
      vertical-align: middle;
    }
  }
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: none;
  }
}

.tags {
  margin: 4px 0;
}
.tag {
  color: #666;
  border: 1px solid #666;
  border-radius: 8px;
  padding: 1px;
  margin: 0 4px;
  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
  a {
    text-decoration: none;
    color: #666 !important;
  }
}

a:link { color: dodgerblue; }
a:visited { color: royalblue; }
a:hover { color: lightblue; }
a:active { color: orange; }

article {
  margin: 2% 10%;
  padding: 5%;

  time {
    font-size: 1em;
    color: #777;
    margin: 4px 0;
    display: inline-block;
  }

  h1 {
    a {
      color: $text-regular;
      text-decoration: none;
    }
  }

  p {
    margin: 4px;
  }


  img, model-viewer {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 66%;
  }

  model-viewer {
    height: 20em;
  }
}
