body {
  background-color: #fff;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin: 0; }

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #222; }
  div.header {
    background: -webkit-gradient(linear, left bottom, left top, from(#020a3c), to(black));
    background: linear-gradient(0deg, #020a3c 0%, black 100%); } }

.header {
  background: -webkit-gradient(linear, left bottom, left top, from(#1464ff), to(#00001e));
  background: linear-gradient(0deg, #1464ff 0%, #00001e 100%);
  color: white;
  padding: 0.5em; }
  .header h1 {
    text-align: center; }
  .header a {
    color: inherit;
    text-decoration: inherit; }

.nav {
  list-style: none;
  display: flex;
  justify-content: space-around; }
  .nav a {
    text-decoration: none; }

.tag {
  margin: 0.5em;
  border: 2px solid DodgerBlue;
  border-radius: 5px;
  background-color: LightBlue;
  color: inherit;
  text-decoration: inherit; }

article {
  margin-left: 10%;
  margin-right: 10%; }
  article time {
    font-size: 1em;
    color: #777;
    margin-bottom: 1em; }
  article h1 a {
    color: white;
    text-decoration: none; }
  article img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 66%; }
  article model-viewer {
    margin-left: auto;
    margin-right: auto;
    display: block; }
