- # https://rubydoc.info/github/middleman/middleman-blog/master/Middleman/Blog/Helpers
%article
  %h1
    %a{href: article.url}
      = article.title.titlecase

  %time{datetime: article.date.iso8601}
    = article.date.strftime("%a %b %e, %Y")

  %div.tags
    - article.tags.each do |tag|
      %span.tag
        %a{href: tag_path(tag)}
          = tag.pluralize

  = article.body



